## Collection Feed Template
## Author: Piyapong Charoenwattana (piyapong.charoenwattana@ualberta.ca)
## $Id: feed_collection.html_en.vm 5585 2012-09-27 22:11:57Z pcharoen $
## ---------------------------------------------------------------------
## Template Variables
## $collection:	Collection object.
## $thumbnail:	Thumbnail URL.
## $creator:	Creator user object.
<p>
	#if($thumbnail)<img src="$thumbnail" />#end
	<ul>
    	<li><label>Author or Creator: </label>$creator.lastName, $creator.firstName</li>
		<li><label>Date Created: </label>$DateFormatUtils.format($collection.created, "yyyy/MM/dd h:mm a z")</li>
		<li><label>Date Updated: </label>$DateFormatUtils.format($collection.modified, "yyyy/MM/dd h:mm a z")</li>
    	<li><label>Description: </label>$!collection.description</li>
    	<li><label>Permanent link to this page: </label><a href="$!collection.handle">$!collection.handle</a></li>
	</ul>
</p>
