<?xml version="1.0" encoding="UTF-8"?>
<!--
	University of Alberta Libraries
	Information Technology Services
	****************************************************************************
	$Id: web.xml 5602 2012-10-05 18:48:09Z pcharoen $
	Project: era
	Description: Education and Research Archive 
	Author: Piyapong Charoenwattana
	Version: $Revision: 5602 $ $Date: 2012-10-05 12:48:09 -0600 (Fri, 05 Oct 2012) $
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<description>ERA: Education and Research Archive</description>
	<display-name>ERA: Education and Research Archive - Version: 1.3.11 Build: 2012-10-02T13:00:34.368-0600</display-name>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--              Configuration of Spring Framework.                     -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Initilize Context Scope Objects -->
	<listener>
		<listener-class>ca.ualberta.library.ir.servlet.ApplicationContextListener</listener-class>
	</listener>

	<!-- Loading ServiceFacade and store in session -->
	<listener>
		<listener-class>ca.ualberta.library.ir.servlet.ApplicationSessionListener</listener-class>
	</listener>

	<!-- JSTL Localization using resources.properties -->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources</param-value>
	</context-param>

	<!-- UrlRewriteFilter handling short urls -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>statusPath</param-name>
			<param-value>/status</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--              Configuration of the Stripes Filter.                   -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<filter>
		<description>
			Provides essential configuration and request processing services for the Stripes framework
			and access control security.
		</description>
		<display-name>Stripes Filter</display-name>
		<filter-name>StripesFilter</filter-name>
		<filter-class>net.sourceforge.stripes.security.controller.StripesSecurityFilter</filter-class>

		<!-- StripesFilter action package. -->
		<init-param>
			<param-name>ActionResolver.Packages</param-name>
			<param-value>ca.ualberta.library.ir.action</param-value>
		</init-param>

		<!-- StripesFilter action bean context. -->
		<init-param>
			<param-name>ActionBeanContext.Class</param-name>
			<param-value>ca.ualberta.library.ir.action.ApplicationActionBeanContext</param-value>
		</init-param>
		<init-param>
			<param-name>Stripes.EncryptionKey</param-name>
			<param-value>j4YXL:kMtTdC1l?3?@W5B+np_+e99Gs73c:g_FD3:x-m6i:M14F6gQI3!D:e++83</param-value>
		</init-param>

		<!-- Stripes Interceptors -->
		<init-param>
			<param-name>Interceptor.Classes</param-name>
			<param-value>
				net.sourceforge.stripes.integration.spring.SpringInterceptor,
				net.sourceforge.stripes.security.controller.SecurityInterceptor,
				ca.ualberta.library.ir.security.controller.ObjectAccessControlInterceptor
			</param-value>
		</init-param>
		
		<!-- Localization field name resources files. -->
		<init-param>
			<param-name>LocalizationBundleFactory.FieldNameBundle</param-name>
			<param-value>resources</param-value>
		</init-param>

		<!-- Localization error message resources files. -->
		<init-param>
			<param-name>LocalizationBundleFactory.ErrorMessageBundle</param-name>
			<param-value>resources</param-value>
		</init-param>

		<!-- Custom localization picker -->
		<init-param>
			<param-name>LocalePicker.Class</param-name>
			<param-value>ca.ualberta.library.ir.localization.ApplicationLocalePicker</param-value>
		</init-param>

		<init-param>
			<param-name>LocalePicker.Locales</param-name>
			<param-value>en:UTF-8,fr:UTF-8,it:UTF-8,de:UTF-8</param-value>
		</init-param>

		<!-- Apache Commons File Upload -->
		<init-param>
			<param-name>MultipartWrapper.Class</param-name>
			<param-value>net.sourceforge.stripes.controller.multipart.CommonsMultipartWrapper</param-value>
			<!--			<param-value>net.sourceforge.stripes.controller.multipart.CosMultipartWrapper</param-value>-->
		</init-param>

		<!-- Maximum file upload size (k/kb/m/mb/g/gb). -->
		<init-param>
			<param-name>FileUpload.MaximumPostSize</param-name>
			<param-value>1024m</param-value>
		</init-param>
		
		<!-- Application Access Control Filter -->
		<init-param>
			<param-name>SecurityManager.Class</param-name>
			<param-value>ca.ualberta.library.ir.security.controller.ApplicationAccessControlManager</param-value>
		</init-param>

		<!-- Unauthorized page -->
		<init-param>
			<param-name>UnauthorizedResolutionURL</param-name>
			<param-value>/jsp/public/unauthorized.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<url-pattern>/jsp/public/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<url-pattern>/jsp/protected/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<servlet-name>StripesDispatcher</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- Session Timeout-->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--         Configuration of Application Security Filter.               -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<filter>
		<description>Provides Application Security</description>
		<filter-name>ApplicationSecurityFilter</filter-name>
		<filter-class>ca.ualberta.library.ir.security.filter.ApplicationSecurityFilter</filter-class>

		<!-- Public action urls (comma seperated) -->
		<init-param>
			<param-name>publicUrlPatterns</param-name>
			<param-value>
				/action/favorite/getFavoriteStatus,
				/action/bookmark/getBookmarkStatus,
				/action/subscription/getSubscriptionStatus,
				/action/subscription/getSubscriptionInfo,
				/action/navbar/forward,
				/action/navbar/redirect
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ApplicationSecurityFilter</filter-name>
		<url-pattern>/jsp/protected/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationSecurityFilter</filter-name>
		<url-pattern>/action/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationSecurityFilter</filter-name>
		<url-pattern>/dev/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationSecurityFilter</filter-name>
		<servlet-name>AjaxHandler</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--         Configuration of the Stripes dispatcher Servlet.            -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<servlet>
		<servlet-name>StripesDispatcher</servlet-name>
		<servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Protected action url mapping -->
	<servlet-mapping>
		<servlet-name>StripesDispatcher</servlet-name>
		<url-pattern>/action/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StripesDispatcher</servlet-name>
		<url-pattern>/dev/*</url-pattern>
	</servlet-mapping>

	<!-- Public action url mapping -->
	<servlet-mapping>
		<servlet-name>StripesDispatcher</servlet-name>
		<url-pattern>/public/*</url-pattern>
	</servlet-mapping>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--         Configuration of the AjaxHandlerServlet.                    -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<servlet>
		<servlet-name>AjaxHandler</servlet-name>
		<servlet-class>ca.ualberta.library.ir.servlet.AjaxHandlerServlet</servlet-class>

		<!-- AjaxHandler Servlet action package. -->
		<init-param>
			<param-name>AjaxBean.Package</param-name>
			<param-value>ca.ualberta.library.ir.ajax</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxHandler</servlet-name>
		<url-pattern>/ajax/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- HTTP Error pages -->
	<error-page>
		<error-code>301</error-code>
		<location>/jsp/public/httpError.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/jsp/public/httpError.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/jsp/public/httpError.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/public/httpError.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/jsp/public/httpError.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/public/httpError.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/jsp/public/httpError.jsp</location>
	</error-page>
</web-app>
